{% extends 'main/base.html' %}

{% load static %}

{% block title %}Electronics shop{% endblock %}


{% block content %}
 <br> <br> <br>
       <div class="container">
     <div class="container small">


         <h1 class = 'text-center'>Login</h1>

    <br>
    <form action='' method="POST" enctype="multipart/form-data">
    {% csrf_token %}

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
      </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    </div>
    </div>

{% endblock%}