{% extends 'main/base.html' %}

{% load static %}

{% block title %}Electronics shop{% endblock %}


{% block content %}
    <br>
     <br>
     <br>
    <div class="container">
     <div class="shadow p-4 mb-5 bg-body rounded">
     {% if form.errors %}

                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>There was an error in registration. Try Again...</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


         {% endif %}
         <h1 class = 'text-center'>Register</h1>

    <br>
    <form action='{% url 'register_user' %}' method="POST" >
    {% csrf_token %}
    {{ form.as_p }}




  <button type="submit" class="btn btn-primary">Submit</button>
    </form>





     </div>

    </div>

{% endblock%}