<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
</head>
<body>
<h4>У мережі з'явилося відео пересування ешелону з військовою технікою, яке прямує з Білорусі у бік РФ.


Військове керівництво Росії активно шукає додаткові ресурси ведення війни. Наразі ведуться переговори з третіми країнами щодо закупівлі озброєння. Про це у неділю, 9 жовтня, повідомляє Генштаб ЗСУ.

Зазначається, що російські військові зазнають дефіциту артилерійських снарядів, мінометних мін і комплектуючих до реактивних систем залпового вогню.

Поки що надійним джерелом поставок залишаються військові склади та арсенали республіки Білорусь. У Генштабі зазначили, що найближчим часом планується переміщення на територію Росії ще 13 ешелонів із боєприпасами та матеріально-технічними засобами.

Також сьогодні Telegram проект "Белорусский Гаюн" опублікував відео ешелону з військовою технікою, який прямує з Білорусі у бік РФ.</h4>

</body>
</html>