{% extends 'main/base.html'%}
{% load static %}
{% block title%}
Contact
{% endblock %}
{% block content %}
    <style>
.contentall {
  padding-top: 80px;
}
    </style>


<div class="container px-4 px-sm-5 my-2">
                <div class="text-center">
                    <div class = "headerMenuList">
        <h2 class="fw-light" font = "red">Shopping card</h2>
                        <br>
                        <br>
                     <h5 class="fw-light" font = "red">There are no products added to your shopping card</h5>
                    </div>
                </div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}