{% extends 'main/base.html'%}
{% load static %}
{% block title%}
Contact
{% endblock %}
{% block content %}
    <style>
.contentall {
  padding-top: 80px;
}
    </style>
      <style>

* {
  box-sizing: border-box;
}

#myInput {

  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: lightyellow;
    font-weight: normal;
}
 .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;

        -webkit-overflow-scrolling: touch;
      }

.flex-container {
            display: flex;
            flex-direction: row;
          flex-wrap:  wrap;

}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}


/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px;
  text-decoration: none;
}

/* Page content */
.contentall {
  padding-top: 80px;
}
.nav-link{
    color: black;



}
.sticky_left {
    position: fixed;
    overflow: hidden;
    top: 120px;
}
.demo {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center

}

</style>
    <div class="col-lg-10 col-md-12 mx-auto" style = "align-items: center">
<div class = "container">


<div class="container px-4 px-sm-5 my-2">
                <div class="text-center">
                    <div class = "headerMenuList">
        <h2 class="fw-light" font = "red">{{ user.first_name}} {{ user.last_name}} </h2>
                        <br>

                        <table class ="table-responsive" id="myTable" style ="width: auto">


  <tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">Yor username </td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">{{ user.username }}</td>
  </tr>
<tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">Your name</td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">{{ user.first_name}} {{ user.last_name}}</td>
  </tr>
                            <tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">Your e-mail</td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">{{ user.email}}</td>
  </tr>
<tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">Your last login</td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">{{ user.last_login}}</td>
  </tr>
     <tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">Your shipping address </td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">{{ customer.shipping_address}}</td>
  </tr>
                             <tr>
                            <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">Your shipping city  </td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">{{ customer.shipping_city}}</td>
  </tr>
                             <tr>
                            <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">Your shipping ZIP-code       </td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">{{ customer.shipping_zip_code}}</td>
  </tr>


</table>

<h2 class="fw-light" >Your orders </h2>
   {% for el in orders %}

                    <table class ="table-responsive" id="myTable" style ="width: auto">
                  <tr>
                   <td>Order number</td>
         <td>{{  el.order_id }}</td>
                  </tr>
                    <tr>
                   <td>Order date</td>
         <td>{{ el.order_date}}</td>
                  </tr>
        {% for item in order_items %}
            {% if item.order_id.order_id == el.order_id %}
                {% for key, values in product.items %}
                    {% if key == item.product_id.product_id %}
     <tr>
    <td><img class="img-thumbnail" style ="width:120px" alt="..."   src = "/{{values.product_image1|safe }}"/></td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">{{ values.product_name}}</td>

          {% endif%}
                {% endfor%}
                <td>
       {{ item.quantity }} kpl
          </td>
      <td>€ {{ item.price }} </td>


      <td>€ {{ item.total_price }}  </td>

  </tr>
            {% endif %}

            {% endfor %}
                    </table>



  {% endfor %}
                    </div>
                </div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}