{% extends 'main/base_admin.html' %}

{% load static %}

{% block title %}Electronics shop{% endblock %}


{% block content %}
<style>
.contentall {
  padding-top: 70px;
}
.sticky_left {
    position: fixed;
    overflow: hidden;
    top: 120px;
}


      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }
      a {
          color: black;
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      .nav-link {
          color: black;
          font-size: small;


      }
      .table {
          font-size: 12px;
          font-weight: bold;
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>
  <body>







      <h4>Customers</h4>
       <br>
      <a  href="{% url 'add_product' %}"><button  type="button" class="btn btn-sm btn-danger">Add new user</button></a>
      <br>
      <br>
      <div class="table-responsive">
        <table class="table  table-responsive-md">
          <thead>
            <tr>
            <th scope="col"><i class="bi bi-search"></i></th>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">E-mail</th>
                <th scope="col">Date</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Last visit</th>
                <th scope="col">Staff</th>
                 <th scope="col">Edit</th>
                <th scope="col">Delete</th>


            </tr>
          </thead>
          <tbody>
          {% for el in users %}
              <tr>

                  <td> <a  href="#"><button  type="button" class="btn btn-sm btn-success"><i class="bi bi-search" ></i></button></a></td>
              <td>{{ el.id }}</td>
              <td>{{ el.username}}</td>
               <td>{{ el.email}}</td>
                  <td>{{ el.date_joined}}</td>
              <td>{{ el.first_name }}</td>
              <td>{{ el.last_name }} </td>
                <td>{{ el.last_login }} </td>
                  {% if el.is_staff %}
                  <td><i class="bi bi-check-circle-fill" style="size: 3px; color:green"></i></td>
                  {% else %}
                  <td> <i class="bi bi-dash-circle-fill" style="color:red"></i></td>
                  {% endif %}

              <td> <button  type="button" class="btn btn-sm btn-primary"><i class="bi bi-pen"></i></button></td>
             <td> <button  type="button" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button></td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>


    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
  </body>


{% endblock %}