{% extends 'main/../../../my_admin/templates/base_admin.html' %}

{% load static %}

{% block title %}Electronics shop{% endblock %}


{% block content %}

    <div class="container">
     <div class="container small">
         <h3>Adding new product</h3>
 <div class="container small">
    <form action='' method=POST enctype="multipart/form-data" >
    {% csrf_token %}
        <br>
        <br>
        <br>
 <div class="form-group col-md-6">
        {{ form.product_id}}<br>
        {{ form.name }}<br>
        {{ form.price }}<br>
        {{ form.category }}<br>
        {{ form.image1}}<br><br>
        {{ form.image2 }}<br><br>
        {{ form.image3 }}<br><br>
        {{ form.main_feature1 }}<br>
        {{ form.main_feature2 }}<br>
        {{ form.main_feature3 }}<br>
        {{ form.anons_eng }}<br>
        {{ form.main_description_name1 }}<br>
        {{ form.main_description1 }}<br>
         {{ form.main_description_name2 }}<br>
        {{ form.main_description2 }}<br>
         {{ form.main_description_name3 }}<br>
        {{ form.main_description3 }}<br>
        {{ form.technical_description_name1 }}<br>
        {{ form.technical_description1 }}<br>
        {{ form.technical_description_name2 }}<br>
        {{ form.technical_description2 }}<br>
        {{ form.technical_description_name3 }}<br>
        {{ form.technical_description3 }}<br>
        {{ form.guaranty }}<br>
        {{ form.service_center }}<br>
        {{ form.size }}<br>
         {{ form.size_with_package }}<br>
        {{ form.weight }}<br>
        {{ form.weight_with_package }}<br>
        {{ form.package_include }}<br>

<br>

   <div class = 'text-center'>
    <button type="submit" class = 'btn-secondary'>Add product</button>
        <span>{{ error }}</span>
   </div>
</div>
    </form>

    </div>
    </div>

{% endblock%}