{% extends 'main/../../../my_admin/templates/base_admin.html' %}

{% load static %}

{% block title %}Electronics shop{% endblock %}


{% block content %}
<style>
.contentall {
  padding-top: 70px;
}
.sticky_left {
    position: fixed;
    overflow: hidden;
    top: 120px;
}
.order_info{
    font-weight: bold;
}


      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }
      a {
          color: black;
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      .nav-link {
          color: black;
          font-size: small;


      }
      .table {
          font-size: 12px;
          font-weight: bold;
      }

    </style>


    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>
  <body>

      <h4>Update Order Info</h4>
      <br>

     <div class="container small">
    <form action='' method=POST enctype="multipart/form-data" style = 'font-size: 12px'>
    {% csrf_token %}


        Order ID   <span class = 'order_info'>{{ order.order_id }}</span><br>
        Customer ID <span class = 'order_info'>{{ order.customer_id_id }}</span><br>
        Order items kpl  <span class = 'order_info'>{{ order.items_total}}</span><br>
        Order total   <span class = 'order_info'>{{ order.price_total}}</span> <br><br>
        Order Status   <span class = 'order_info'>{{ form.status }}</span><br>
        Order payment
        {{ form.payment }}<br>
        order type of delivery
        {{ form.type_of_delivery }}<br>
        Shipping address
        {{ form.shipping_address }}<br>
        Shipping city
        {{ form.shipping_city }}<br>
        Shipping zip code
        {{ form.shipping_zip_code }}<br>
        Order date
        {{form.order_date}}<br>

      <br>

   <div class = 'text-center'>
    <button type="submit"  value= 'update' class = 'btn-secondary'>Update order</button>
        <span>{{ error }}</span>
   </div>

    </form>
     </div>
{% endblock %}