{% extends 'main/../../../my_admin/templates/base_admin.html' %}

{% load static %}

{% block title %}Electronics shop{% endblock %}


{% block content %}

    <div class="container">
     <div class="container small">
         <h3>Update product category</h3>
 <div class="container small">
    <form action='' method=POST >
    {% csrf_token %}
        <br>
        <br>
        <br>
 <div class="form-group col-md-6">

        {{ form.category_name }}<br>
     <p> Chose parent category</p>
        {{ form.parent_category_id}}<br>

<br>

   <div class = 'text-center'>
   <button type="submit"  value= 'update' class = 'btn-secondary'>Update category</button>
        <span>{{ error }}</span>
   </div>
</div>
    </form>

    </div>
    </div>
    </div>

{% endblock%}