{% extends 'main/../../../my_admin/templates/base_admin.html' %}

{% load static %}

{% block title %}Electronics shop{% endblock %}


{% block content %}
<style>
.contentall {
  padding-top: 70px;
}
.sticky_left {
    position: fixed;
    overflow: hidden;
    top: 120px;
}


      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }
      a {
          color: black;
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      .nav-link {
          color: black;
          font-size: small;


      }
      .table {
          font-size: 12px;
          font-weight: bold;
      }

    </style>


    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

  </head>
  <body>

      <h4>Order {{ order.order_id }}</h4>

      <div class="col-lg-10 col-md-12 mx-auto" style = "align-items: center">
<div class = "container">


<div class="container px-4 px-sm-5 my-2">
                <div class="text-center">
                    <div class = "headerMenuList">
        <h2 class="fw-light" >{{ user.first_name}} {{ user.last_name}} </h2>
                        <br>

                        <table class ="table-responsive" id="myTable" style ="width: auto">


  <tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">Yor username </td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">{{ user.username }}</td>
  </tr>
<tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">Your name</td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">{{ user.first_name}} {{ user.last_name}}</td>
  </tr>
                            <tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">Your e-mail</td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">{{ user.email}}</td>
  </tr>
<tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">Your last login</td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">{{ user.last_login}}</td>
  </tr>
     <tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">Your shipping address </td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">{{ customer.shipping_address}}</td>
  </tr>
                             <tr>
                            <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">Your shipping city  </td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">{{ customer.shipping_city}}</td>
  </tr>
                             <tr>
                            <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">Your shipping ZIP-code       </td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">{{ customer.shipping_zip_code}}</td>
  </tr>


</table>

<h2 class="fw-light" >Your orders </h2>


                    <table class ="table-responsive" id="myTable" style ="width: auto">
                  <tr>
                   <td>Order number</td>
         <td>{{  order.order_id }}</td>
                  </tr>
                    <tr>
                   <td>Order date</td>
         <td>{{ order.order_date}}</td>
                  </tr>

        {% for item in order_items %}
             {% for elem in products %}
                    {% if elem.product_id == item.product_id.product_id %}
     <tr>
    <td><img class="img-thumbnail" style ="width:120px" alt="..."   src = "/{{elem.image1|safe }}"/></td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">{{ elem.name}}</td>

          {% endif%}
                {% endfor%}
                <td>
       {{ item.quantity }} kpl
          </td>
      <td>€ {{ item.price }} </td>


      <td>€ {{ item.total_price }}  </td>

  </tr>


            {% endfor %}
                    </table>



                    </div>
                </div>
</div>
</div>



  {% endblock %}