{% extends 'main/../../../my_admin/templates/base_admin.html' %}

{% load static %}

{% block title %}Electronics shop{% endblock %}


{% block content %}
<style>
td{
    padding-right:20px;
    font-size: 12px;

}
.contentall {
  padding-top: 70px;
}
.sticky_left {
    position: fixed;
    overflow: hidden;
    top: 120px;
}


      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }
      a {
          color: black;
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      .nav-link {
          color: black;
          font-size: small;


      }
      .table {
          font-size: 12px;
          font-weight: bold;
      }

    </style>


    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

  </head>
  <body>



      <div class="col-lg-10 col-md-12 mx-auto" style = "align-items: center">
<div class = "container">
<div class="container px-4 px-sm-5 my-2">
                <div class="text-center">
                    <div class = "headerMenuList">
                     <h4 class="fw-light" >Order {{ order.order_id }}</h4>
                        <br>

                    <a  href="{% url 'update_order' order.order_id %}"> <button  type="button" class="btn btn-sm btn-primary"><i class="bi bi-pen"></i>Update order</button></a>
                  <a  href="{% url 'delete_order' order.order_id %}"><button  type="button" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i>Delete order</button></a>


                        <br>

                        <table class ="table-responsive" id="myTable" style ="width: auto">
 <tr>
                   <td style=" font-size: 12px; font-weight: bold; text-wrap: normal;padding-right: 10px  ">Order number</td>
         <td style=" font-size: 12px;  text-wrap: normal; padding-right: 10px  ">{{  order.order_id }}</td>
                  </tr>
                    <tr>
                   <td style=" font-size: 12px; font-weight: bold; text-wrap: normal;padding-right: 10px  ">Order date</td>
         <td style=" font-size: 12px; text-wrap: normal; padding-right: 10px  ">{{ order.order_date}}</td>
                  </tr>



<tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal; padding-right: 10px">Customer name</td>
    <td style=" font-size: 12px; text-wrap: normal;padding-right: 10px  ">{{ user.first_name}} {{ user.last_name}}</td>
  </tr>
                            <tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal;padding-right: 10px  ">Customer e-mail</td>
    <td style=" font-size: 12px;  text-wrap: normal; padding-right: 10px ">{{ user.email}}</td>
  </tr>

     <tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal;padding-right: 10px  ">Shipping address </td>
    <td style=" font-size: 12px; text-wrap: normal; padding-right: 10px  ">{{ customer.shipping_address}}, {{ customer.shipping_city}}, {{ customer.shipping_zip_code}}</td>
  </tr>
                              <tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal;padding-right: 10px  ">Order total </td>
    <td style=" font-size: 12px; text-wrap: normal; padding-right: 10px  "> € {{ order.price_total}}</td>
  </tr>
                            <tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal;padding-right: 10px  ">Order status </td>
    <td style=" font-size: 12px; text-wrap: normal; padding-right: 10px  ">{{ order.status}}</td>
  </tr>
                              <tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal;padding-right: 10px  ">Order payment </td>
    <td style=" font-size: 12px; text-wrap: normal; padding-right: 10px  ">{{ order.payment}}</td>
  </tr>
                            <tr>

    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal; padding-right: 10px">Type of delivery</td>
    <td style=" font-size: 12px; text-wrap: normal;padding-right: 10px  ">{{ order.type_of_delivery}}</td>
  </tr>

</table>
                    <br>
                    <br>

<h4 class="fw-light" >Order details </h4>


                    <table class ="table-responsive" id="myTable" style ="width: auto">
                  <tr>


        {% for item in order_items %}
             {% for elem in products %}
                    {% if elem.product_id == item.product_id.product_id %}
     <tr>
    <td><img class="img-thumbnail" style ="width:120px" alt="..."   src = "/{{elem.image1|safe }}"/></td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  ">  {{ elem.name}}  </td>

          {% endif%}
                {% endfor%}
                <td>  {{ item.quantity }} kpl  </td>
      <td>  € {{ item.price }} </td>


      <td>  € {{ item.total_price }}  </td>

  </tr>


            {% endfor %}
                    <tr>
    <td></td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  "></td>


                <td></td>
      <td> Items total</td>


      <td>  € {{ order.items_total }}  </td>

  </tr>
                     <tr>
    <td></td>
    <td style=" font-size: 12px; font-weight: bold; text-wrap: normal  "></td>


                <td></td>
      <td> Price total</td>


      <td>  € {{ order.price_total }}  </td>

  </tr>

                    </table>




                    </div>
                </div>
</div>
</div>



  {% endblock %}